# Coordinator
CORS_ORIGINS=http://localhost:8081,http://localhost:3000
WAL_FILE=./data/coordinator.log
PARTICIPANT_REQUEST_TIMEOUT_MS=5000

# Participants (inventory-service and orders-service)
COORDINATOR_URL=http://coordinator:3000
TXN_STATE_FILE=./data/service-transactions.json

# Frontend
REACT_APP_API_URL=http://localhost:3000
REACT_APP_WS_URL=ws://localhost:3000
